*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}
.nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: crimson;
    padding: 20px 0 0 0;

}
.nav ul{
    display: flex;
    justify-content: space-around;
}
.nav li{
    padding: 0 10px;
    font-size: 20px;
}
.nav2{
   animation: cot 1s ;
   animation-iteration-count:1; 

}
@keyframes cot{
    100%{
        background-color: aqua;
    }
}

.container{
    width:100%;
    height: 1000px;
    background-image: url('img/un.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;

}
.button{
    border: 1px solid transparent;
}
.button{
    text-align: center;
}
#btn{
    color: black;
    background-color: white;
    font-weight: 500;
    padding: 15px 40px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    transition:all .5s;
    position: relative;
    top: 20px;
    bottom: 20px;

}
#btn:hover{
background-color: rgb(144, 255, 255);

}
    

.box{
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    padding-left: 13%;
    /* height: 500px; */
    background-color: rgba(0, 0, 0, 0.438);
    margin-top: 100px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(2,200px);
    gap: 40px 60px;
    
}

.box1{
    border: 10px solid white;
    border-radius: 10px;
    text-align: center;
   /* display: grid;
   grid-template-columns: 120px;
   grid-template-rows: 120px 60px; */
    
}
.box1 img{
    width: 100%;
    height: 80%;
  

}
.box1 button{
    color: black;
    background-color: white;
    display: inline-block;
    padding: 5px 28px;
    margin-top: 2px;
    text-decoration: none;
    letter-spacing: 1px;
}

.cart{
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    position: sticky;
   bottom: -100px;
   display: none;
}
.cart-field{
          width: 80%;
          margin: 0 auto;
          height: 500px;
        border: 4px solid white;
          text-align:center;
         position: relative;
         top:10px;
         bottom:10px;
         display: grid;
         grid-template-columns: repeat(3,200px);
         grid-template-rows: repeat(2,200px);
         gap: 40px 60px;
         padding: 50px;
         padding-left: 13%;
}
.closeBtn{
    margin: 0 auto;
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    text-align: center;
      position: relative;
      top:30px;
      bottom:10px;
      left: 600px;
}














